<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saebom.bulletinboard.admin.member.repository.AdminMemberMapper">

    <sql id="excludeWithdrawCondition">
        AND status != 'WITHDRAW'
    </sql>

    <sql id="memberListColumns">
        id,
        username,
        name,
        role,
        status,
        created_at
    </sql>

    <sql id="memberEditColumns">
        id,
        username,
        name,
        email,
        role,
        status,
        updated_at
    </sql>

    <resultMap id="memberListViewMap" type="com.saebom.bulletinboard.admin.member.dto.AdminMemberListView">
        <constructor>
            <idArg column="id" javaType="java.lang.Long"/>
            <arg column="username" javaType="java.lang.String"/>
            <arg column="name" javaType="java.lang.String"/>
            <arg column="role"
                 javaType="com.saebom.bulletinboard.global.domain.Role"
                 typeHandler="com.saebom.bulletinboard.global.mybatis.RoleTypeHandler"/>
            <arg column="status"
                 javaType="com.saebom.bulletinboard.global.domain.Status"
                 typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
            <arg column="created_at" javaType="java.time.LocalDateTime"/>
        </constructor>
    </resultMap>

    <resultMap id="memberEditViewMap" type="com.saebom.bulletinboard.admin.member.dto.AdminMemberEditView">
        <constructor>
            <idArg column="id" javaType="java.lang.Long"/>
            <arg column="username" javaType="java.lang.String"/>
            <arg column="name" javaType="java.lang.String"/>
            <arg column="email" javaType="java.lang.String"/>
            <arg column="role"
                 javaType="com.saebom.bulletinboard.global.domain.Role"
                 typeHandler="com.saebom.bulletinboard.global.mybatis.RoleTypeHandler"/>
            <arg column="status"
                 javaType="com.saebom.bulletinboard.global.domain.Status"
                 typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
            <arg column="updated_at" javaType="java.time.LocalDateTime"/>
        </constructor>
    </resultMap>

    <select id="selectList"
            resultMap="memberListViewMap">
        SELECT
        <include refid="memberListColumns"/>
        FROM members
        <where>
            1 = 1
            <include refid="excludeWithdrawCondition"/>
            <if test="status != null">
                AND status = #{status, typeHandler=org.apache.ibatis.type.EnumTypeHandler}
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <select id="selectEditViewById" resultMap="memberEditViewMap">
        SELECT
        <include refid="memberEditColumns"/>
        FROM members
        WHERE id = #{id}
    </select>

    <update id="updateStatus">
        UPDATE members
        SET status = #{status}
        WHERE id = #{id}
    </update>

    <update id="update">
        UPDATE members
        SET
            name = #{name},
            email = #{email},
            role = #{role},
            status = #{status}
        WHERE id = #{id}
    </update>

</mapper>