<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saebom.bulletinboard.article.repository.ArticleMapper">

    <sql id="excludeHiddenCondition">
        AND a.status != 'HIDDEN'
    </sql>

    <sql id="articleListColumns">
        a.id,
        a.title,
        a.view_count,
        a.created_at,
        m.username AS member_username,
        m.name AS member_name
    </sql>

    <sql id="articleDetailColumns">
        a.id,
        a.member_id,
        a.title,
        a.content,
        a.view_count,
        a.created_at,
        m.username AS member_username,
        m.name AS member_name
    </sql>

    <sql id="articleEditColumns">
        id,
        member_id,
        title,
        content
    </sql>

    <sql id="articleAuthColumns">
        id,
        member_id
    </sql>

    <sql id="myArticleListColumns">
        a.id,
        a.title,
        a.view_count,
        a.created_at,
        a.status,
        m.username AS member_username,
        m.name AS member_name
    </sql>

    <sql id="myArticleDetailColumns">
        a.id,
        a.member_id,
        a.title,
        a.content,
        a.view_count,
        a.created_at,
        a.status,
        a.admin_memo,
        a.admin_memo_updated_at,
        m.username AS member_username,
        m.name AS member_name
    </sql>

    <resultMap id="articleListViewMap" type="com.saebom.bulletinboard.article.dto.ArticleListView">
        <constructor>
            <idArg column="id" javaType="java.lang.Long"/>
            <arg column="title" javaType="java.lang.String"/>
            <arg column="view_count" javaType="java.lang.Integer"/>
            <arg column="created_at" javaType="java.time.LocalDateTime"/>
            <arg column="member_username" javaType="java.lang.String"/>
            <arg column="member_name" javaType="java.lang.String"/>
        </constructor>
    </resultMap>

    <resultMap id="articleDetailViewMap" type="com.saebom.bulletinboard.article.dto.ArticleDetailView">
        <constructor>
            <idArg column="id" javaType="java.lang.Long"/>
            <arg column="member_id" javaType="java.lang.Long"/>
            <arg column="title" javaType="java.lang.String"/>
            <arg column="content" javaType="java.lang.String"/>
            <arg column="view_count" javaType="java.lang.Integer"/>
            <arg column="created_at" javaType="java.time.LocalDateTime"/>
            <arg column="member_username" javaType="java.lang.String"/>
            <arg column="member_name" javaType="java.lang.String"/>
        </constructor>
    </resultMap>

    <resultMap id="articleEditViewMap" type="com.saebom.bulletinboard.article.dto.ArticleEditView">
        <constructor>
            <idArg column="id" javaType="java.lang.Long"/>
            <arg column="member_id" javaType="java.lang.Long"/>
            <arg column="title" javaType="java.lang.String"/>
            <arg column="content" javaType="java.lang.String"/>
        </constructor>
    </resultMap>

    <resultMap id="articleAuthViewMap" type="com.saebom.bulletinboard.article.dto.ArticleAuthView">
        <constructor>
            <idArg column="id" javaType="java.lang.Long"/>
            <arg column="member_id" javaType="java.lang.Long"/>
        </constructor>
    </resultMap>

    <resultMap id="myArticleListViewMap" type="com.saebom.bulletinboard.article.dto.MyArticleListView">
        <constructor>
            <idArg column="id" javaType="java.lang.Long"/>
            <arg column="title" javaType="java.lang.String"/>
            <arg column="view_count" javaType="java.lang.Integer"/>
            <arg column="created_at" javaType="java.time.LocalDateTime"/>
            <arg column="status" javaType="com.saebom.bulletinboard.article.domain.ArticleStatus"
                 typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
            <arg column="member_username" javaType="java.lang.String"/>
            <arg column="member_name" javaType="java.lang.String"/>
        </constructor>
    </resultMap>

    <resultMap id="myArticleDetailViewMap" type="com.saebom.bulletinboard.article.dto.MyArticleDetailView">
        <constructor>
            <idArg column="id" javaType="java.lang.Long"/>
            <arg column="member_id" javaType="java.lang.Long"/>
            <arg column="title" javaType="java.lang.String"/>
            <arg column="content" javaType="java.lang.String"/>
            <arg column="view_count" javaType="java.lang.Integer"/>
            <arg column="created_at" javaType="java.time.LocalDateTime"/>
            <arg column="status" javaType="com.saebom.bulletinboard.article.domain.ArticleStatus"
                 typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
            <arg column="admin_memo" javaType="java.lang.String"/>
            <arg column="admin_memo_updated_at" javaType="java.time.LocalDateTime"/>
            <arg column="member_username" javaType="java.lang.String"/>
            <arg column="member_name" javaType="java.lang.String"/>
        </constructor>
    </resultMap>

    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO articles (
            member_id,
            title,
            content,
            view_count
        )
        VALUES (
            #{memberId},
            #{title},
            #{content},
            #{viewCount}
        )
    </insert>

    <select id="selectList"
            resultMap="articleListViewMap">
        SELECT
        <include refid="articleListColumns"/>
        FROM articles a
        JOIN members m ON a.member_id = m.id
        WHERE 1 = 1
        <include refid="excludeHiddenCondition"/>
        ORDER BY a.created_at DESC
    </select>

    <select id="selectDetailById"
            resultMap="articleDetailViewMap">
        SELECT
        <include refid="articleDetailColumns"/>
        FROM articles a
        JOIN members m ON a.member_id = m.id
        WHERE a.id = #{id}
    </select>

    <select id="selectEditViewById"
            resultMap="articleEditViewMap">
        SELECT
        <include refid="articleEditColumns"/>
        FROM articles
        WHERE id = #{id}
    </select>

    <select id="selectAuthById"
            resultMap="articleAuthViewMap">
        SELECT
        <include refid="articleAuthColumns"/>
        FROM articles
        WHERE id = #{id}
    </select>

    <select id="selectMyListByMemberId"
            resultMap="myArticleListViewMap">
        SELECT
        <include refid="myArticleListColumns"/>
        FROM articles a
        JOIN members m ON a.member_id = m.id
        WHERE a.member_id = #{memberId}
        ORDER BY a.created_at DESC
    </select>

    <select id="selectMyDetailById"
            resultMap="myArticleDetailViewMap">
        SELECT
        <include refid="myArticleDetailColumns"/>
        FROM articles a
        JOIN members m ON a.member_id = m.id
        WHERE a.id = #{id}
        ORDER BY a.created_at DESC
    </select>

    <update id="update">
        UPDATE articles
        SET
            title = #{title},
            content = #{content}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM articles
        WHERE id = #{id}
    </delete>

    <update id="increaseViewCount">
        UPDATE articles
        SET
            view_count = view_count + 1
        WHERE id = #{id}
    </update>

</mapper>