<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saebom.bulletinboard.comment.repository.CommentMapper">

    <sql id="excludeHiddenCondition">
        AND c.status != 'HIDDEN'
    </sql>

    <sql id="commentViewColumns">
        c.id,
        c.member_id,
        c.content,
        c.created_at,
        m.username AS member_username,
        m.name AS member_name
    </sql>

    <sql id="commentEditColumns">
        member_id,
        content
    </sql>

    <sql id="commentAuthColumns">
        id,
        member_id
    </sql>

    <resultMap id="commentViewMap" type="com.saebom.bulletinboard.comment.dto.CommentView">
        <constructor>
            <idArg column="id" javaType="java.lang.Long"/>
            <arg column="member_id" javaType="java.lang.Long"/>
            <arg column="content" javaType="java.lang.String"/>
            <arg column="created_at" javaType="java.time.LocalDateTime"/>
            <arg column="member_username" javaType="java.lang.String"/>
            <arg column="member_name" javaType="java.lang.String"/>
        </constructor>
    </resultMap>

    <resultMap id="commentEditViewMap" type="com.saebom.bulletinboard.comment.dto.CommentEditView">
        <constructor>
            <arg column="member_id" javaType="java.lang.Long"/>
            <arg column="content" javaType="java.lang.String"/>
        </constructor>
    </resultMap>

    <resultMap id="commentAuthViewMap" type="com.saebom.bulletinboard.comment.dto.CommentAuthView">
        <constructor>
            <idArg column="id" javaType="java.lang.Long"/>
            <arg column="member_id" javaType="java.lang.Long"/>
        </constructor>
    </resultMap>

    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO comments (
            article_id,
            member_id,
            content
        )
        VALUES (
            #{articleId},
            #{memberId},
            #{content}
        )
    </insert>

    <select id="selectListByArticleId"
            resultMap="commentViewMap">
        SELECT
        <include refid="commentViewColumns"/>
        FROM comments c
        JOIN members m ON c.member_id = m.id
        WHERE c.article_id = #{articleId}
        <include refid="excludeHiddenCondition"/>
        ORDER BY c.created_at ASC
    </select>

    <select id="selectEditViewById"
            resultMap="commentEditViewMap">
        SELECT
        <include refid="commentEditColumns"/>
        FROM comments
        WHERE id = #{id}
    </select>

    <select id="selectAuthById"
            resultMap="commentAuthViewMap">
        SELECT
        <include refid="commentAuthColumns"/>
        FROM comments
        WHERE id = #{id}
    </select>

    <select id="selectArticleIdByCommentId" resultType="java.lang.Long">
        SELECT article_id
        FROM comments
        WHERE id = #{id}
    </select>

    <update id="update">
        UPDATE comments
        SET content = #{content}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM comments
        WHERE id = #{id}
    </delete>

</mapper>