<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saebom.bulletinboard.member.repository.MemberMapper">

    <sql id="memberProfileColumns">
        username,
        name,
        email,
        created_at,
        updated_at
    </sql>

    <sql id="memberEditColumns">
        username,
        name,
        email,
        updated_at
    </sql>

    <sql id="memberAuthColumns">
        id,
        password,
        status
    </sql>

    <sql id="memberSecurityAuthColumns">
        id,
        username,
        password,
        role,
        status
    </sql>

    <sql id="loginMemberColumns">
        id,
        username,
        name,
        role
    </sql>

    <resultMap id="memberProfileViewMap"
               type="com.saebom.bulletinboard.member.dto.MemberProfileView">
        <constructor>
            <arg column="username" javaType="java.lang.String"/>
            <arg column="name" javaType="java.lang.String"/>
            <arg column="email" javaType="java.lang.String"/>
            <arg column="created_at" javaType="java.time.LocalDateTime"/>
            <arg column="updated_at" javaType="java.time.LocalDateTime"/>
        </constructor>
    </resultMap>

    <resultMap id="memberEditViewMap"
               type="com.saebom.bulletinboard.member.dto.MemberEditView">
        <constructor>
            <arg column="username" javaType="java.lang.String"/>
            <arg column="name" javaType="java.lang.String"/>
            <arg column="email" javaType="java.lang.String"/>
            <arg column="updated_at" javaType="java.time.LocalDateTime"/>
        </constructor>
    </resultMap>

    <resultMap id="memberAuthViewMap"
               type="com.saebom.bulletinboard.member.dto.MemberAuthView">
        <constructor>
            <idArg column="id" javaType="java.lang.Long"/>
            <arg column="password" javaType="java.lang.String"/>
            <arg column="status" javaType="com.saebom.bulletinboard.global.domain.Status"
                 typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        </constructor>
    </resultMap>

    <resultMap id="memberSecurityAuthViewMap"
               type="com.saebom.bulletinboard.member.dto.MemberSecurityAuthView">
        <constructor>
            <idArg column="id" javaType="java.lang.Long"/>
            <arg column="username" javaType="java.lang.String"/>
            <arg column="password" javaType="java.lang.String"/>
            <arg column="role" javaType="com.saebom.bulletinboard.global.domain.Role"
                 typeHandler="com.saebom.bulletinboard.global.mybatis.RoleTypeHandler"/>
            <arg column="status" javaType="com.saebom.bulletinboard.global.domain.Status"
                 typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        </constructor>
    </resultMap>

    <resultMap id="loginMemberViewMap"
               type="com.saebom.bulletinboard.member.dto.LoginMemberView">
        <constructor>
            <arg column="id" javaType="java.lang.Long"/>
            <arg column="username" javaType="java.lang.String"/>
            <arg column="name" javaType="java.lang.String"/>
            <arg column="role"
                 javaType="com.saebom.bulletinboard.global.domain.Role"
                 typeHandler="com.saebom.bulletinboard.global.mybatis.RoleTypeHandler"/>
        </constructor>
    </resultMap>

    <insert id="insert"
            parameterType="com.saebom.bulletinboard.member.domain.Member"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO members (
            username,
            password,
            name,
            email,
            role,
            status
        )
        VALUES (
            #{username},
            #{password},
            #{name},
            #{email},
            #{role},
            #{status}
        )
    </insert>

    <select id="existsByUsername" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM members
        WHERE username = #{username}
    </select>

    <select id="selectProfileById" resultMap="memberProfileViewMap">
        SELECT
        <include refid="memberProfileColumns"/>
        FROM members
        WHERE id = #{id}
    </select>

    <select id="selectEditViewById" resultMap="memberEditViewMap">
        SELECT
        <include refid="memberEditColumns"/>
        FROM members
        WHERE id = #{id}
    </select>

    <select id="selectAuthById" resultMap="memberAuthViewMap">
        SELECT
        <include refid="memberAuthColumns"/>
        FROM members
        WHERE id = #{id}
    </select>

    <select id="selectAuthByUsername" resultMap="memberAuthViewMap">
        SELECT
        <include refid="memberAuthColumns"/>
        FROM members
        WHERE username = #{username}
    </select>

    <select id="selectSecurityAuthByUsername" resultMap="memberSecurityAuthViewMap">
        SELECT
        <include refid="memberSecurityAuthColumns"/>
        FROM members
        WHERE username = #{username}
    </select>

    <select id="selectPasswordChangedAtById" resultType="java.time.LocalDateTime">
        SELECT password_changed_at
        FROM members
        WHERE id = #{id}
    </select>

    <select id="selectRoleById" resultType="com.saebom.bulletinboard.global.domain.Role">
        SELECT role
        FROM members
        WHERE id = #{id}
    </select>

    <select id="selectLoginMemberById" resultMap="loginMemberViewMap">
        SELECT
        <include refid="loginMemberColumns"/>
        FROM members
        WHERE id = #{id}
    </select>

    <select id="selectLoginMemberByUsername" resultMap="loginMemberViewMap">
        SELECT
        <include refid="loginMemberColumns"/>
        FROM members
        WHERE username = #{username}
    </select>

    <select id="selectIdByUsername" resultType="java.lang.Long">
        SELECT id
        FROM members
        WHERE username = #{username}
    </select>

    <update id="updateProfile">
        UPDATE members
        SET
            name = #{name},
            email = #{email}
        WHERE id = #{id}
    </update>

    <update id="updatePassword">
        UPDATE members
        SET
            password = #{password},
            password_changed_at = NOW()
        WHERE id = #{id}
    </update>

    <update id="updateStatus">
        UPDATE members
        SET
            status = #{status}
        WHERE id = #{id}
    </update>

</mapper>